@model Unico.Models.OcpSelectModel

@{
    ViewBag.Title = "Подбор OCP чернил";
}

<h1>Подбор OCP чернил</h1>
<br/>
<table>
    <tr>
        <td valign="top" style="width:220px">
            @Html.Label("Бренд", new{style="font-size:1.2em"}) <br/>
            @Html.DropDownListFor(x => x.SelectedBrand,new SelectList(Model.Brands, "BrandId", "Name"),
                 "Выберите Бренд", new {id="brandSelect", data_url=Url.Action("GetPrinters", "Ocp")})

            <div id="printerdiv">
                @Html.Label("Принтер", new{style="font-size:1.2em"})<br/>
                <select id="printerSelect" disabled>
                    <option value="">Выберите принтер</option>
                </select>
            </div>

            <div id="cartrigediv">
                @Html.Label("Картридж", new{style="font-size:1.2em"}) <br/>
                <select id="cartrigeSelect" disabled>
                    <option value="">Выберите картридж</option>
                </select>
            </div>
        </td>
        <td>
            <div id="ocpTable"></div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $('#brandSelect').change(function () {
        var selectedValue = $(this).val();
        $.post('@Url.Action("GetPrinters", "Ocp")', { selectedBrand: selectedValue },
            function (data) {
                var printersOptions = "<option value=\"\">Выберите принтер</option>";
                for (var i = 0; i < data.length; i++) {
                    printersOptions += "<option value='" + data[i].PrinterId + "'>" + data[i].Name + "</option>";
                }
                $("#printerSelect").find('option').remove().end().append($(printersOptions));
                $("#printerSelect").removeAttr('disabled');
            });
    });
</script>

<script type="text/javascript">
    $('#printerSelect').change(function () {
        var selectedValue = $(this).val();
        $.post('@Url.Action("GetCartriges", "Ocp")', { selectedPrinter: selectedValue },
            function (data) {
                var printersOptions = "<option value=\"\">Выберите картридж</option>";
                for (var i = 0; i < data.length; i++) {
                    printersOptions += "<option value='" + data[i].CartrigeId + "'>" + data[i].Name + "</option>";
                }
                $("#cartrigeSelect").find('option').remove().end().append($(printersOptions));
                $("#cartrigeSelect").removeAttr('disabled');
            });
    });
</script>

<script type="text/javascript">
    $('#cartrigeSelect').change(function () {
        var selectedValue = $(this).val();
        $("#ocpTable").load('@Url.Action("OcpProducts", "Ocp")' + '?selectedCartrige=' + selectedValue)
    });
</script>

