<!---Новый заказ в магазине OCP чернил--->
@model Unico.Models.OrderEmailModel

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body>
    Принят новый заказ! Пожалуйста перезвоните.<br />
    <table>
        <tr>
            <td>Номер заказа:</td>
            <td>@Model.OrderModel.Number</td>
        </tr>
        <tr>
            <td>Дата создания:</td>
            <td>@Model.OrderModel.CreatedOn</td>
        </tr>
        <tr>
            <td>Статус:</td>
            <td>@Model.OrderModel.Status</td>
        </tr>
        <tr>
            <td>Телефон клиента:</td>
            <td>@Model.UserPhone</td>
        </tr>
        <tr>
            <td>Email клиента:</td>
            <td>@Model.UserEmail</td>
        </tr>
    </table>
    <br />
    <table>
        @foreach (var item in Model.OrderModel.Items)
        {
            <tr>
                <td>
                    <b>@item.ProductName</b>
                </td>       
                <td>
                    @item.ProductDetails
                </td>
                <td>
                    @item.Count шт.
                </td>
                <td>
                    <b>@item.Amount грн</b>
                </td>
            </tr>
        }

    </table>
    <table>
        <tr>
            <td>Всего:</td>
            <td><b>@Model.OrderModel.Amount грн</b></td>
        </tr>
    </table>

    <p>C уважением,<br />
       Магазин OCP чернил<br />
       +380672307836<br />
       <a href="http://ocp.org.ua">ocp.org.ua</a><br />
    </p>
</body>
</html>