@model Unico.Models.ShoppingCartModel

@{
    ViewBag.Title = "Index";
}

<h2>Ваша корзина</h2>

<table id="category-table">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Бренд</th>
            <th>Описание</th>
            <th>Цена в грн.</th>
            <th>Количество</th>
            <th>Сумма</th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.CartItems.Count; i++ )
    {
        var p = Model.CartItems[i];
        if (i % 2 == 0)
        {
            @:<tr>            
        }
        else
        {
            @:<tr class="category-table-row-odd">
        }
            <td>@Html.Label("name", p.Name)</td>
            <td>@Html.Label("brand", p.Brand)</td>
            <td>@Html.Label("desc", p.Description)</td>
            <td>@Html.Label("price", p.Price.ToString("F"))</td>
            <td>@Html.Label("count", p.Count)</td>
            <td>@Html.Label("amount", p.Amount.ToString("F"))</td>
            <td>@using (Ajax.BeginForm("AddProduct", "ShoppingCart", new AjaxOptions
                                         {
                                                UpdateTargetId = "cart1",
                                                InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace,
                                                HttpMethod = "POST"
                                         }))
                {
                    <input type="hidden" name="count" value="1" />
                    <input type="hidden" name="productId" value="@p.ProductId" />
                    <input type="submit" value="В корзину"/>
                }
            </td>
        @:</tr>
    }
    
</table>

<div>
    @Html.Label("TotalAmount", Model.TotalAmount);
</div>
